# i am paranoid
Checks:
  - -*
  - cppcoreguidelines-pro-type-member-init
  - modernize-deprecated-headers
  - modernize-redundant-void-arg
  - modernize-use-bool-literals
  - modernize-use-nullptr

  - readability-avoid-nested-conditional-operator
  - readability-convert-member-functions-to-static
  - readability-inconsistent-declaration-parameter-name
  - readability-make-member-function-const
  - readability-non-const-parameter
  - readability-static-accessed-through-instance
  - readability-reference-to-constructed-temporary
  - readability-braces-around-statements

  - bugprone-branch-clone
  - bugprone-integer-division
  - bugprone-macro-parentheses

  - portability-simd-intrinsics
  - portability-restrict-system-includes

HeaderFileExtensions: ["", h, hh, hpp, hxx, inc]
ImplementationFileExtensions: [c, cc, cpp, cxx]
HeaderFilterRegex: (sandbox|starry)/
FormatStyle: file

CheckOptions:
  cppcoreguidelines-pro-type-member-init.UseAssignment: true
  modernize-deprecated-headers.CheckHeaderFile: true
