CompileFlags:
  Add:
    # so it includes those as <...> instead of "..."
    # this is important so clang-format can format the headers and stuff
    - -isystem
    - thirdparty
    - -isystem
    - thirdparty/libtrippin
    - -isystem
    - thirdparty/imgui

    # more warnings
    - -Wuninitialized
    - -Wshadow
    - -Wconversion
    - -Wold-style-cast
    - -Wextra-semi
    - -Wmissing-noreturn
    - -Wimplicit-fallthrough
    - -Wnull-dereference
    - -Wcast-qual
