BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

# one of the most controversial issues for unemployed people
UseTab: Always
IndentWidth: 8
TabWidth: 8
ContinuationIndentWidth: 8
ConstructorInitializerIndentWidth: 8
IndentPPDirectives: BeforeHash

# spacing
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false
IndentAccessModifiers: false
AccessModifierOffset: -8
BreakAfterAttributes: Always
AlignOperands: Align

# slightly modified K&R style
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterStruct: true
  AfterEnum: true
  AfterNamespace: false
  AfterFunction: true
  BeforeElse: true
  BeforeCatch: true
  AfterControlStatement: false
  IndentBraces: false

# alternative single line styles
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortCaseLabelsOnASingleLine: false
IndentCaseLabels: false

# includes
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[A-Za-z0-9_]+>$' # stdlib, e.g. `<functional>`, `<cstdio>`
    Priority: 1
  - Regex: '^<trippin/.*\.h>$' # that's our stdlib so it goes after that
    Priority: 2
  - Regex: '^<.*\.h>$'         # other third-party headers
    Priority: 3
  - Regex: '^".*"$'            # headers from the project itself
    Priority: 4

# misc
PointerAlignment: Left
ColumnLimit: 100
AlignConsecutiveMacros: false

# stop busting
WhitespaceSensitiveMacros:
  - TR_GCC_IGNORE_WARNING
