# if you have OS-specific or editor-specific files to ignore,
# put them in your global ~/.gitignore

*.bin
*.exe
*.pdb
*.so
*.dll
*.dylib
*.a
*.lib
*.o
*.obj
!thirdparty/imgui/imgui_linux_x64.a
!thirdparty/imgui/imgui_windows_x64.lib
!thirdparty/luajit/linux/libluajit.a
!thirdparty/luajit/windows/lua51.lib

# engine garbage
log.txt
imgui.ini
