[submodule "glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libtrippin"]
	path = vendor/libtrippin
	url = https://github.com/hellory4n/libtrippin
[submodule "linmath"]
	path = vendor/linmath
	url = https://github.com/datenwolf/linmath.h
[submodule "nuklear"]
	path = vendor/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear
[submodule "stb"]
	path = vendor/stb
	url = https://github.com/nothings/stb
[submodule "whereami"]
	path = vendor/whereami
	url = https://github.com/gpakosz/whereami
