[submodule "thirdparty/libtrippin"]
	path = thirdparty/libtrippin
	url = https://github.com/hellory4n/libtrippin
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "thirdparty/sokol"]
	path = thirdparty/sokol
	url = https://github.com/floooh/sokol
[submodule "thirdparty/sokol-tools-bin"]
	path = thirdparty/sokol-tools-bin
	url = https://github.com/floooh/sokol-tools-bin
